<%-contentFor('body')%>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <%-include('../partials/title.ejs')%>
    <a class="btn btn-outline-primary" href="/dashboard/revenues/new" role="button">Criar Nova Receita</a>
    <a class="btn btn-outline-primary" href="/dashboard/expenses/new" role="button">Criar Nova Despesa</a>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Tipo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%expenses.forEach((item)=>{%>
                    <tr>
                        <th scope="row"><%= item.id%></th>
                        <td><%= item.name%></td>
                        <td><%= item.value%></td>
                        <td>Despesa</td>
                        <td>
                            <a href="/dashboard/expenses/edit/<%= item.id%>" class="btn btn-outline-primary">Editar</a>
                            <button type="button" onclick="removeItem(<%= item.id%>,'expenses')" class="btn btn-outline-danger">Remover</button>
                        </td>
                    </tr>
                <%})%>
                <%revenues.forEach((item)=>{%>
                    <tr>
                        <th scope="row"><%= item.id%></th>
                        <td><%= item.name%></td>
                        <td><%= item.value%></td>
                        <td>Receita</td>
                        <td>
                            <a href="/dashboard/revenues/edit/<%= item.id%>" class="btn btn-outline-primary">Editar</a>
                            <button type="button" onclick="removeItem(<%= item.id%>,'revenues')" class="btn btn-outline-danger">Remover</button>
                        </td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>
</main>

<script>
    function removeItem(id, type) {
        if(confirm("Você realmente deseja remover o item selecionado?")) {
            fetch(`/dashboard/${type}/remove/${id}`, {method: "POST"}).then(function (response) {
                document.location.reload()
            })
        }
    }
</script>